$dark = #ffffff
$brand = #157987
$brand2 = #878787

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color $dark
	background-color $dark
}

header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	margin-left: 0;
	text-align: left;
	background: darken($dark, 5%)
	z-index: 3;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.BlenderName h1 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 100;
	margin: 0;
	color: $brand;
	padding-top: 8px;
	padding-left: 30px;
}
.BlenderName h3 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 100;
	margin: 0;
	color: $brand;
	padding-bottom: 8px;
	padding-left: 30px;
	text-align: center;
}

.templateview{
	width: 225px;
	height: 375px;
	background: #fff;
	box-shadow: 0px 0px 10px 2px alpha(black, 70%)
	margin: 15px;
}

.templateviewport{
	height: 225px;
	display:flex;
	flex-flow: wrap;
	justify-content: left;
	/*align-content: center;*/
}

.templateviewbanner{
	width: 225px;
	height: auto;
	min-height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	opacity: 1;
	background: $brand;
}
input{
	margin-left: 8px;
	width: 90%;
	padding: 10px 5px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 200;
	background:lighten($dark, 5%);
	border: 0;
	color: #fff;
}
::-webkit-input-placeholder {
   color: #fff;
}
.templateview h2 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 200;
	margin: 0;
	padding: 10px;
	color: #FFF;
	text-shadow 0 0 2px black
	text-align: left;
}

.plussign {
	background: none;
	border: 0;
	width: 225px;
	height: 250px;
	color: #fff;
	font-size: 40px;
	top: 135px;
	outline: 0;
}

.container{
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	flex-flow: wrap;
	justify-content: center;
	max-width: 1020px;
}

.fa-plus{
	-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
			font-size: 30px;
}
.fa-plus:hover{
	-webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    transform: scale(1.2);
		}
.templatemenu{
	color: #fff;
	outline: 0;
	font-size: 20px;
	background: none;
	border: 0;
	-webkit-transition: .15s ease-in-out;
		-moz-transition: .15s ease-in-out;
		-o-transition: .15s ease-in-out;
		transition: .15s ease-in-out;
}
.menubanner{
	background: darken($brand2, 5%);
	width: 225px;
	height: auto;
	overflow: hidden;
	-webkit-transform: height 2s ease-in-out, visibility 1s linear;
	-moz-transform: height 2s ease-in-out, visibility 1s linear;
	-o-transform: height 2s ease-in-out, visibility 1s linear;
	-ms-transform: height 2s ease-in-out, visibility 1s linear;
	transform: height 2s ease-in-out, visibility 1s linear;
	z-index: 2;
	position: absolute;
}
.menubanneropen{
	background: #cc474c;
	width: 100%;
	max-height:250px;

}
.white-text{
	color: #fff;
	text-shadow 0px 0px 3px black
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 200;
	padding: 10px;
}
.remove-btn{
	background: none;
	border: 1px solid #fff;
	margin:5px;
	padding:10px 20px;
	border-radius: 20px;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 200;
	font-size: 16px;
	-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
}
.remove-btn:hover{
	background: #e3656c;
}
.cancel-btn{
	background: none;
	border: 1px solid #fff;
	border-radius: 20px;
	margin:5px;
	padding:10px 20px;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 200;
	font-size: 16px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.cancel-btn:hover{
		background: #e3656c;
}
.searchbar-container{
	width: 300px;
	display: flex;
	align-items: center;
}
.searchbar{
	background: lighten($dark, 15%);
	box-shadow inset 0 0 1px 1px black
	border: 0px;
	margin: 10px;
	color: $brand2;
	padding:10px 20px;
	border-radius: 20px;
	outline: 0;
	display: flex;
	align-items: center;
}

.searchbar::-webkit-input-placeholder {
   color: #fff;
}

.template-thumb{
	width: 225px;
	height: 300px;
}

.nav-bar{
	background: $brand2;
	width: 100%;
	color: #fff;
	padding: 5px 10px;
	box-shadow inset 0px 4px 5px -2px #000
}
.add-template{
	background: none;
	border: 0;
	color: #fff;
	outline: 0;
}
.nav-text{
	font-size: 20px;
}


/* animate ngRepeat in template listing */

.templateview.ng-enter,
.templateview.ng-leave,
.templateview.ng-move {
-webkit-transition: 0.5s ease all;
-moz-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.templateview.ng-enter,
.templateview.ng-move {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.templateview.ng-move.ng-move-active,
.templateview.ng-enter.ng-enter-active {
  opacity: 1;
  width: 225px;

}

.templateview.ng-leave {
  opacity: 1;
  overflow: hidden;
	width: 225px;
}
.templateview.ng-move.ng-move-active,
.templateview.ng-leave.ng-leave-active {
  opacity: 0;
	width: 0;
}

/* cross fading between routes with ngView */

.view-container {
  position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0width;
}
.view-frame.ng-move,
.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-move,
.view-frame.ng-enter,
.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
	z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; width: 0; }
  to { opacity: 1; width: 225px; }
}
@-moz-keyframes fade-in {
	from { opacity: 0; width: 0; }
  to { opacity: 1; width: 225px; }
}
@-webkit-keyframes fade-in {
	from { opacity: 0; width: 0; }
  to { opacity: 1; width: 225px; }
}

@keyframes fade-out {
	from { opacity: 0; width: 225px; }
  to { opacity: 1; width: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; width: 225px; }
  to { opacity: 0; width: 0; }
}
@-webkit-keyframes fade-out {
	from { opacity: 1; width: 225px; }
  to { opacity: 0; width: 0; }
}
