html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	position: absolute;
	width: 100%;
	height: 60px;
	left: 0;
	top: 0;
	margin-left: 0;
	text-align: left;
	background: #206090;
	/*box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);*/
}

.BlenderName h1 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 100;
	margin: 0;
	color: #ffffff;
	padding-top: 8px;
	padding-left: 30px;
	display: inline-block;
	float: left;
}

.BlenderSlogan h2 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 100;
	margin: 0;
	padding-right: 10px;
	padding-top: 20px;
	color: #ffffff;
	display: inline-block;
	float: right;
}
.templateview{
	margin: 20px;
	width: 175px;
	height: 300px;
	background: #999999;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);

}

.templateviewport{
	height: 300px;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}

.templateviewbanner{
	width: 100%;
	height: auto;
	min-height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #de4d53;
}
input{
	margin-left: 8px;
	width: 150px;
	padding: 10px 5px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 200;
	background: #cc474c;
	border: 0;
	color: #fff;
}
::-webkit-input-placeholder {
   color: #fff;
}
.templateview h2 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 200;
	margin: 0;
	padding: 10px;
	color: #FFF;
	text-align: center;
}

.plussign {
	background: none;
	border: 0;
	width: 175px;
	height: 250px;
	color: #fff;
	font-size: 40px;
	top: 135px;
	outline: 0;

	/*padding-top: 80px;*/

}

.container{
	margin-top: 32px;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}
.remove{
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 100;
	width: 65px;
	height: 35px;
	background: #de4d53;
	border: none;
	text-align: center;
	font-weight: 100;
	margin-left:  -15px;
	margin-top: 100px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 260px;
}
.selected{
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
	width: 225px;
	height: 350px;
	background: #de4d53;

}
.fa-plus{
	-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
}
.fa-plus:hover{
	-webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    transform: scale(1.2);
		}
.templatemenu{
	color: #fff;
	outline: 0;
	font-size: 20px;
	background: none;
	border: 0;
	-webkit-transition: .15s ease-in-out;
		-moz-transition: .15s ease-in-out;
		-o-transition: .15s ease-in-out;
		transition: .15s ease-in-out;
}
.menubanner{
	background: #cc474c;
	width: 175px;
	max-height: 25px;
	overflow: hidden;
	-webkit-transform: height 2s ease-in-out, visibility 1s linear;
	-moz-transform: height 2s ease-in-out, visibility 1s linear;
	-o-transform: height 2s ease-in-out, visibility 1s linear;
	-ms-transform: height 2s ease-in-out, visibility 1s linear;
	transform: height 2s ease-in-out, visibility 1s linear;
}
.menubanneropen{
	background: #cc474c;
	width: 175px;
	max-height:250px;
}
.templatemenu:active{
	color: #fff;
	outline: 0;
	font-size: 20px;
	border: 0;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);

}
.white-text{
	color: #fff;
}
