$dark = #404040
$brand = #505050
$brand2 = #046c60
$light = #e3e4e8

.body-main
	padding 0
	margin 0
	font-family 'Helvetica Neue', Helvetica, sans-serif
	color $dark
	background-color $light



.container-main
	margin-top 110px
	margin-left auto
	margin-right auto
	display block
	flex-flow wrap
	justify-content center
	max-width 1020px

input
	margin-left 8px
	width 90%
	padding 10px 5px
	font-family 'Helvetica Neue', Helvetica, sans-serif
	font-size 16px
	font-weight 200
	backgroundlighten($dark, 5%)
	border 0
	color #fff

-webkit-input-placeholder
	color #fff
