$dark = #404040
$brand = #505050
$brand2 = #046c60
$light = #e3e4e8

.header-main
	position fixed
	width 100%
	left 0
	top 0
	margin-left 0
	text-align left
	background darken($dark, 5%)
	color $light
	z-index 3
	display flex
	flex-flow wrap
	justify-content space-between
	box-shadow 0px 3px 5px rgba(0, 0, 0, 0.5)

.BlenderName h1
	font-family 'Helvetica Neue', Helvetica, sans-serif
	font-size 40px
	font-weight 100
	margin 0
	color $light
	padding 10px 20px

.searchbar-container
	width 300px
	height 50px
	display flex
	align-items right
	padding 10px 20px

.searchbar
	border 0px
	margin 10px
	color $brand
	padding 10px 20px
	border-radius 20px
	outline 0
	display flex
	align-items center

.searchbar-webkit-input-placeholder
	color $light

.nav-bar
	background $brand2
	width 100%
	padding 5px 10px
	height 20px

.nav-text{
	font-size 16px
	color #fff
	text-decoration none
	margin 5px
	padding 5px
	font-weight 200
}
	.top-margin{
		height 105px
		width 100%
		display block
}
